[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"], version = "*"}
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-environ = "*"
psycopg2-binary = "*"
django-filter = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
accessdb = "docker exec -it cinematicket_db_1 psql -U ikem -d cinema_ticket"
makemigrations = "docker exec cinematicket_web_1 python manage.py makemigrations"
migrate = "docker exec cinematicket_web_1 python manage.py migrate"
